/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style */
@import url('./header.css');
@import url('./vite-promo.css');
@import url('./badges.css');
@import url('./back-link.css');
@import url('./footer.css');

body {
  background-color: rgba(0, 225, 255, 0.123);
}
.section-time {
  background-color: #e2e2e269;
  margin-top: 100px;
  width: 300px;
  height: 100%;
  margin-top: 120px;
  margin-left: auto;
  margin-right: auto;
  border: solid, 2px, rgb(136, 120, 235);
  border-radius: 8px;
  padding: 20px;
}
.div-snackbar {
  width: 300px;
  display: flex;
  justify-content: center;
  background-color: #b0abee25;
  gap: 10px;
  margin-top: 120px;
  margin-left: auto;
  margin-right: auto;
  border: solid, 2px, rgb(136, 120, 235);
  border-radius: 8px;
  padding: 20px;
}

.timer {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}
.field {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.value {
  font-size: 2rem;
  font-weight: bold;
}

.timer-btn {
  border-radius: 4px;
  background-color: #0037ff96;
  color: rgb(255, 255, 255);
}
.timer-btn:hover {
  background-color: #0037ff;
}

.form-fieldset {
  margin: 20px;
}

.form-btn {
  width: 150px;
  height: 40px;
  padding: 8px;
  font-weight: 400;
  font-size: 16px;
  border-radius: 8px;
  background-color: #0037ff96;
  color: rgb(255, 255, 255);
  cursor: pointer;
}
.form-btn:hover {
  background-color: #0037ff;
}
